@import url(https://fonts.googleapis.com/css?family=Poiret+One);

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  
}
*,h2{
  text-align: center;
  font-family: 'Poiret One', cursive;
}

#campaignResults{
  margin-top: 3%;
  font-size: 120%;
}

h1{
  margin-top: 0;
  font-weight: bolder;  
}

#campaignResults{
	opacity: 0;
}

#electionYear,
#zipCode{
  width: 25%;
}

.header{
  background-color: lightgreen;
}

h4{
  padding-bottom: 3%;
}

button{
  margin-top: 2%;
  width: 15%;
  height: 35px;
  background-color: lightgreen;
  border: 1px solid gray;
  border-radius: 5%;
}

@media screen and (max-width: 434px){
  
  #electionYear{
    margin-top: 10%;
  }
  
  #electionYear,
  #zipCode{
    width: 55%;
    height: 55px;
    font-size: 150%;
  }
  
  button{
    margin-top: 15%;
    width: 55%;
    height: 55px;
    font-size: 150%;
  }
  
  h1{
    font-size: 270%;
  }
  
  h4{
    width: 75%;
    margin: auto;
  }
  
  p{
    font-size: 130%;
    width: 90%;
    margin: auto;
  }
}